*{
    box-sizing: border-box;
    max-width: 100%;
}
header .logo img{
    width: 100%;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 100%;
    font-weight: 600;
    font-size: 15px;
}
.carousel-header{
    background: #f9f3f0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.carousel-header .carousel-item .row{
    align-items: center;
}
.carousel-header .d-md-block{
    text-align: end;
    padding: 0 78px;
    font-size: 40px;
}
.carousel-header .d-md-block h5{
    color: #ff497c;
}
.carousel-header .d-md-block p{
    font-weight: 600;
}
.carousel-header .carousel-item{
    z-index: 1;
}
.carousel-header .carousel-item .image-banner{
    padding: 20px;
    max-height: 533px;
    aspect-ratio: 552/492;
    object-fit: contain;
}
.carousel-header .carousel-item button{
    background-color: white;
    box-shadow: 0 16px 32px 0 rgb(103 103 103 / 6%);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    padding: 16px 38px;
    position: relative;
    transition: all .3s ease-in-out;
    z-index: 1;
    display: flex;
    align-items: center;
    float: right;
    width: max-content;
    padding: 18px 32px;
}
.carousel-header .carousel-item button p{
    height: 100%;
    margin: 0;
}
.background-shape{
    position: absolute;
    bottom: -57px;
    z-index: 0;
    height: 100%;
}
button.carousel-control-prev, button.carousel-control-next{
    display: none;
}

.category{
    margin-top: 30px;
}
.icon-title p{
    color: #ff497c;
    font-weight: 600;
    font-size: 14px;
}
.category-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 134px;
    border: 1px solid #0000000f;
    padding: 10px;
    border-radius: 7px;
    margin: 30px auto;
    box-shadow: 0 15px 20px -10px rgb(0 0 0 / 9%);
}
.category-item p{
    font-size: 15px;
    font-weight: 600;
    margin:10px 0 5px;
}
.music-experience{    
    background: #f6f7fb;
    padding: 65px 80px;
    border-radius: 6px;
    margin-top: 95px;
}
.music-experience .music-img {
    position: relative;
}
.music-experience .music-img img{
    position: absolute;
    top: -160px;
}
.music-experience .axil-btn{
    background-color: #3577f0;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    padding: 16px 38px;
    position: relative;
    text-decoration: none;
    margin-top: 30px;
}
.music-experience .title-category{
    padding: 33px 39px;
}
.music-experience .title-category h2{
    font-size: 40px;
}